/* $Id: style.css 3209 2010-06-12 00:13:43Z eldering $ */

body {
	color: black;
	background-color: white;
	font-family: Andika, 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	line-height: 1.4em;
	color: #959595;
	background-color: #FFF;
	margin-top: 0px;
	border-top: 7px solid #133A87;
	border-bottom: 7px solid #133A87;
}

.noprint {display: none;}

a:link, a:visited, a:hover {color: #000066;}
a:hover {text-decoration: underline;}

img {	border: 0; }

.sol {
	font-weight: bold;
	font-variant: small-caps;
}

.sol_correct      { color: green;  }
.sol_incorrect    { color: red;    }
.sol_queued       { color: gray;   }


tr.sub_ignore td {
	text-decoration: line-through;
}


.disabled         { color: silver; }
.disabled a       { color: gray;   }
.nodata           { color: gray; font-style: italic; }

/* general table layout (not in scoreboard or lists) */
table {
	border-collapse: separate;
	border-spacing: 2px;
}

th {vertical-align: bottom;}

td.tacenter {text-align: center;}


caption {
	font-weight: bold;
	margin-bottom: 1ex;
}

hr {
	border: 0;
	height: 1px;
	background-color: gray;
	margin-top: 2em;
}
address { font-size: smaller; }

tr.unread td {
	font-weight: bold;
}

/* more spacing in lists of teams, submissions, etc. */
.list {
	border-collapse: collapse;
	border-spacing: 0px;
	font-size: 13px;
}
.list td, .list th {
	vertical-align: bottom;
}

.list tr { border-bottom: 1px solid silver; }
tr.roweven { background: #ededed; }
.list tr:hover { background: #ffffcc; }
.list thead tr { border-bottom-color: black;}
.list thead tr:hover { background: white; }
.list a {
	text-decoration: none;
	color: black;
	display: block;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
}
.list .disabled a  { color: silver;   }
.list .editdel  a  { display: inline; }

.output_text {
	border-top: 1px dotted #C0C0C0;
	border-bottom: 1px dotted #C0C0C0;
	background-color: #FAFAFA;
	margin: 0;
	padding: 5px;
	font-family: monospace;
}

span.differ {color: Red;}
span.endline {color: Orange;}
span.extra {color: Red;}
span.diff-old {color: Red;}
span.diff-new {color: Green;}


.langid { font-variant: small-caps; }



fieldset {
	margin: 2em;
	padding: 1em;
}

.error {
	color: red;
	font-family: monospace;
	border: 1px dotted red;
}

legend {
	font-variant: small-caps;
	font-weight: bold;
	padding: .1ex .5ex;
}

.error legend {
	font-size: x-large;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
}


.scoreboard {  border: 1px solid #ccc;padding: 2px;}
.scoreboard td { font-size: small; }
.scoreboard tr { border-bottom: 1px solid silver; }
.scoreboard td, .scoreboard th {
	padding: 3px;
}
.scoreboard a {
	display: block;
	padding: 3px;
	text-decoration: none;
	color: black;
}

.scoreboard .scoretn { padding: 0px; width: 25ex; }
.scoreboard .scoreaf { white-space: nowrap; }

.scoreheader {
	font-variant: small-caps;
	border-bottom: 2px solid black;
}
.score_correct   { background: #33FF66; }
.score_incorrect { background: #FF6666; }
/* .score_neutral   { background: white;   } */

#scoresolv,#scoretotal { width: 5em; }
.scorenc,.scorett,.scorepl { text-align: right; width: 2ex; }
td.scorenc { border-color: silver; }

.scoreprob { width: 7em; }
.scoreaffil { text-align: center; }

#scoresummary {
	border-top: 2px solid black;
	border-bottom: none;
	font-weight: bold;
	color: #133A87;
}
#scorethisisme .scoretn {
	background: #ff6600;
	font-weight: bold;
}

#lastmod {
	color: gray;
	font-size: x-small;
	position: absolute; right: 1ex; margin-top: 1em;
}

#teamscoresummary { float: right;}
#teamscoresummary td { padding: 3px; }
#teamscoresummary th { padding: 3px; }

#teampicture { position: absolute; right: 2ex; top: 7ex; width: 70%; }

/* between different sortorder-categories, print a thick line */
.sortorderswitch { border-top: 2px solid black; }

/* between different contests, print a thin line */
.contestswitch { border-top: 1px solid black; }


/* EXTRAS */
body{text-align: center;}
#main {
	margin: 0px;
	background-color: white;
	text-align: left;
}	

h1 {
	font-size: 18px;
	display: block;
	margin: 0px;
	padding: 0px;
	margin-bottom: 10px;
	text-align: center;
}

.tcenter{text-align:center;}

#header {
	margin: 0 auto;
}

#menutop a {
	outline: none;
	text-decoration: none;
	color: #396CCF;
}

#menutop a.new {
	color: #FF0000;
}

#menutop ul.nev {
	font: 13px helvetica,arial,freesans,clean,sans-serif;
	line-height: 1.4em;
	padding: 8px 3px 8px 2px;
	font-weight: bold;
	text-shadow: white 1px 1px 0px;
	border-color: #EEE;
	border: 1px solid #E9E9E9;
	border-bottom-color: whiteSmoke;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

#menutop ul.nav {
	font: 15px helvetica,arial,freesans,clean,sans-serif;
	line-height: 1.4em;
	padding: 8px 3px 8px 2px;
	font-weight: bold;
	text-shadow: white 1px 1px 0px;
	border-bottom: 2px solid #E9E9E9;
	display: none;
}

#menutop ul.nav li {
	display: inline;
	margin: 0;
	padding: 0px 11px 0px 13px;
	list-style-type: none;
	background: url(./images/nav-rule.png) no-repeat 0px 50%;
	line-height: 1.4em;
}

#menutop ul.nav li:first-child {
	background: transparent;
}


#clock {display: none;}

#timeleft {
	display: none;
	}

#footer {
	display: none;
}


/* tables to list attributes */
.rowcaption {border: 1px solid #D8D8D8; background-color: #EAEAEA;}
.smallpic {height: 16px; width: 16px; vertical-align: middle;}
.vmiddle {vertical-align: middle;}
.vtop{vertical-align: top;}
.backnav a {text-decoration: none; color: #396CCF; font-size: 0.9em; font-variant: small-caps;}
.dashed_line{border:1px dashed #CCC;margin:0 0 0 -3px}
.imgmiddle img {vertical-align: middle; padding: 0px;}


#toptitle{display: none;}

.pagetitle {
	color: #FFF;
	background-color:  #133A87;
	padding: 15px;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}

.hblue{color:  #133A87;}

.vspace50{min-height: 50px;}
.vspace100{
	min-height: 100px;
}

/* extra login */
.login{
	border: 2px solid  whiteSmoke;
	width: 405px;
	margin: auto;
}
.login a.login_request, .login a.login_signin{display:block;width:180px;height:24px;margin-bottom:8px;padding:12px 10px 6px 20px;cursor:pointer;font-size:14px;color:white;text-decoration:none; font-weight:bold;}
.login a.login_request{background:url("./images/login/green_button_active.png") no-repeat bottom center}
.login a.login_signin{background:url("./images/login/blue_button_active.png") no-repeat bottom center}

.login h3.login_member{font-size:34px;}
.login h4.login_member{font-size:20px;margin:5px 0px 5px 2px;}



/* extra contest */
.w200{width: 200px;}
.bright{border-right: 1px solid #000;}
.borderlight{border: 1px solid #656565;}
.right {float: right;}
.left{float: left;}
.bottom{margin-bottom:15px}
.top{margin-top:15px}
.clear{clear: both;}
.black{color: black;}
.aleft{text-align: left;}
.aright{text-align: right;}
.acenter .tcenter{text-align: center;}
.small {font-size: 0.7em;}
.tred{color: red;}

.content_box{padding:12px 12px 20px 12px;width:680px;margin: auto;}
.challenges_wd{text-align: center;}
.challenge_info {width:130px;min-height:100px;padding-left:10px;padding-right:10px;}
.challenge_info p{font-size:86px;margin: 0px;padding:0px;text-align: center;}
.challenge_info p{font-family: 'Prociono', serif;font-size: 55px;color: #0058EE;line-height: 1;}
.challenge_info h2{font-size:22px;color:black;}
h3.challenge_info {font-size:22px;color:#000;}
.challenge_info h4{font-size:14px;color:#000;margin: 0px;padding:0px;text-align: center;}
.challenge_info.follow p{color:#30A100}
.challenge_open{padding:16px}
.challenge_dates{font-family:arial}
.challenge_timezone{color:#999;font-style:italic;font-size:12px;padding-left:12px}
hr.points_line{clear:both;float:left;margin:10px 0 0 0;border:0;border-top:1px solid #ccc;border-style:dashed;}
hr.points_line{display:block;}
.coding pre{padding:6px;color:#000;background-color:#eee;font-size:11px}
pre.brush{color:#eee;background:#333;padding:6px 12px;margin-bottom:15px}

.boxinthemiddle{text-align: center;margin: auto;width: 320px;}

.wmax50perc {max-width: 400px;}
.vtop {vertical-align: top;}

/* extra */
input[type=button],input[type=submit]{cursor:pointer}
.textarea, .input{border:1px solid #ccc;padding:5px 5px 0 5px;height:35px;font-size:24px;-moz-box-shadow:inset 0 0 5px #e1ddda;-webkit-box-shadow:inset 0 0 5px#e1ddda;box-shadow:inner 0 0 5px #e1ddda;font-family:arial;resize:none}
registration.input{width: 100px;}

.newbutton {
    border-radius: 2px 2px 2px 2px;
    background-color: #FFF;
    border:1px solid #ccc;
        background: -moz-linear-gradient(center bottom , rgb(210, 210, 210), rgb(255, 255, 255)) repeat scroll 0% 0% transparent;
    color: rgb(50, 50, 50);
    text-shadow: 0px 0px 2px rgb(255, 255, 255);
    box-shadow: 0px 0px 1px rgb(255, 255, 255) inset, 0px 0px 0.4em rgb(200, 200, 200) inset, 0px 0.1em 0px rgb(130, 130, 130), 0px 0.11em 0px rgba(0, 0, 0, 0.4), 0px 0.1em 0.11em rgba(0, 0, 0, 0.9);
    font-size: 11px;
    font-family: Lucida Grande;
}
.grayback{background: #ddd;}

th.theader {
	font-size: 14px;
	font-weight: bold;
	color: #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	letter-spacing: 1.5px;
	text-align: center;
	padding: 6px 6px 6px 6px;
}

th.detail{border-bottom: 1px solid #000;}
tr.detail {
	font-size: 14px;
	font-weight: bold;
	border: 1px solid #ccc;
	border-bottom: 1px solid #000;
	text-align: center;
	padding: 2px 2px 2px 2px;
}

table.adapted{padding-left: 1px; padding-right: 1px;}


/* SOURCE CODE DIFF HIGHLIGHT */
#diff{
	background:		#fff;
	border:			5px solid #ccc;
	margin:			50px auto 0px auto;
	padding:		10px;
	width:			940px;
}
#diff pre
{
	white-space:	normal;
}
ins, del
{
	display:		block;
	min-height:		10px;
	padding:		5px;
}
ins *, del *
{
	display:		inline;
	margin:			0px;
	padding:		0px;
}
ins
{
	background:		#8EE884;
}
del
{
	background:		#E88484;
}

#tablespec {
	font: 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	border-bottom: 1px solid #6786C3;
	border-left: 1px solid #6786C3;	
}

#tablespec th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	border-right: 1px solid #6786C3;
	border-bottom: 1px solid #6786C3;
	border-top: 1px solid #6786C3;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #6786C3;
	vertical-align: top;
}

#tablespec th.spec {	
	border-left: 1px solid #6786C3;
	border-top: 0;
	background: #fff url(./images/triangle1.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

#tablespec th.specalt {
	border-left: 1px solid #6786C3;
	border-top: 0;
	background: #f5fafa url(./images/triangle2.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #6786C3;
}

#tablespec th.acenter {	
	text-align: center;
}

#tablespec th.aright {	
	text-align: right;
}


#tablespec td {
	border-right: 1px solid #6786C3;
	border-bottom: 1px solid #6786C3;
	background: #fff;
	padding: 2px 2px 2px 2px;
	color: #6786C3;
}

#tablespec td.alt {
	background: #F5FAFA;
	color: #B4AA9D;
}

#tablespec .acenter {
	text-align: center;
}

#thistorystats {float: right;}


/* lab results */
#tableresults {
	font: 9px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;	
}

#tableresults th {
	font: bold 9px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	text-transform: uppercase;
	text-align: left;
	padding: 1px 1px 1px 2px;
	vertical-align: top;
}

#tableresults th.spec {	
	border-left: 1px solid #ddd;
	border-top: 0;
	font: bold 9px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

#tableresults th.specalt {
	border-left: 1px solid #ddd;
	border-top: 0;
	background: #f5fafa url(./images/triangle2.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #000;
}

#tableresults th.acenter {	
	text-align: center;
}

#tableresults th.aright {	
	text-align: right;
}


#tableresults td {
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: #fff;
	padding: 2px 2px 2px 2px;
	color: #000;
}

#tableresults td.alt {
	background: #F5FAFA;
	color: #000;
}

#tableresults .acenter {
	text-align: center;
}
#tableresults th.leftborder  {border-left: 1px solid black;}
#tableresults th.rightborder {border-left: 1px solid black;}

#tableresults td.lab_correct {background-color: #33FF88;}
#tableresults td.lab_incorrect {background-color: #FFAAAA;}


/* additional formatting */
.clean {clear:both;}
.fright{float: right;}
.fleft{float: left;}

h1.userbox{
	text-align: left;
}

dd input[type="text"]{
    -moz-box-sizing: border-box;
    margin-right: 5px;
    width: 400px;
    padding: 6px;
    font-size: 14px;
    color: rgb(102, 102, 102);
}

table.userbox {
	padding: 2px;
	font-size: 15px;
}

/* user stats */
.last{
	float: right;
	width: 450px;
}
.statsbox {
	width: 100%;
	display: block;
	float: left;
	line-height: 35px;
	margin-top: 5px;
	margin-bottom: 15px;
}

ul.stats {
    margin:  0px;
}

ul.stats li {
    list-style-type: none;
    float: left;
    margin-right: 30px;
    min-width: 60px;
}

ul.stats li strong {
	margin: 0px;
	padding: 0px;
	
    display: block;
    font-size: 36px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

ul.stats li span {
	margin: 0px;
	padding: 0px;
    display: block;
    margin-top: -10px;
    font-size: 13px;
    color: rgb(153, 153, 153);
}

.boxed-group > h3, .boxed-group .heading {
    background: -moz-linear-gradient(rgb(250, 250, 250), rgb(224, 224, 224)) repeat scroll 0% 0% transparent;
    margin: 0px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-width: 1px 1px medium;
    border-style: solid solid none;
    border-color: rgb(216, 216, 216) rgb(216, 216, 216) -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    padding: 10px 10px 11px;
    font-size: 14px;
    text-shadow: 0px 1px 0px rgb(255, 255, 255);
}

input.classy, input.classy:disabled, input.classy.disabled, a.button.classy:disabled, a.button.classy.disabled, input.classy:disabled:hover, input.classy.disabled:disabled:hover, a.button.classy.disabled:hover:disabled, a.button.classy.disabled:hover, a.button.classy, input.classy:disabled:hover, input.classy.disabled:disabled:hover, a.button.classy:disabled:hover, a.button.classy.disabled:disabled:hover, a.button.classy.disabled:hover {
    display: inline-block;
    padding: 8px 15px;
    line-height: normal;
    position: relative;
    font-family: Helvetica,arial,freesans,clean,sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: rgb(102, 102, 102);
    text-shadow: 0px 1px rgba(255, 255, 255, 0.9);
    background: -moz-linear-gradient(rgb(245, 245, 245), rgb(229, 229, 229)) repeat scroll 0% 0% transparent;
    border-radius: 3px 3px 3px 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221) rgb(221, 221, 221) rgb(187, 187, 187);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    -moz-user-select: none;
}
.minibutton {
    position: relative;
    display: inline-block;
    padding: 0px 10px;
    color: rgb(51, 51, 51);
    font-family: Helvetica,arial,freesans,clean,sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 24px;
    text-shadow: 0px 1px 0px rgb(255, 255, 255);
    white-space: nowrap;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(212, 212, 212) rgb(212, 212, 212) rgb(188, 188, 188);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 3px 3px 3px 3px;
    background: -moz-linear-gradient(rgb(250, 250, 250), rgb(234, 234, 234)) repeat scroll 0% 0% transparent;
    cursor: pointer;
    -moz-user-select: none;
}

a.minibutton{
	text-decoration: none;
}

.minibutton:hover {
	color:#fff;
	text-decoration:none;
	text-shadow:0 -1px 0 rgba(0,0,0,0.3);
	border-color:#518cc6;
	border-bottom-color:#2a65a0;
	background:#599bdc;
	background:-moz-linear-gradient(#599bdc,#3072b3);
	background:-webkit-linear-gradient(#599bdc,#3072b3);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bdc',endColorstr='#3072b3')";
	}

.minibutton i{font-weight:500;font-style:normal;opacity:.6;}


@font-face {
	font-family: 'IcoMoon';
	src: url('fonts/IcoMoon.eot');
	src: url('fonts/IcoMoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/IcoMoon.svg#IcoMoon') format('svg'),
		url('fonts/IcoMoon.woff') format('woff'),
		url('fonts/IcoMoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[iconmoon]:after {
	font-family: 'IcoMoon';
	content: attr(iconmoon);
	speak: none;
	font-size: 16px;
	font-weight: normal;
	color: #000;
	margin-left: 5px;
}

.anim-rotate {
    -moz-animation: 1s linear 0s normal none infinite anim-rotate;
}

/* problems */
.problemlist ul, .problemlist li {
    list-style: none outside none;
}

.problemlist li:first-child{
	border-top: 0; 
}

.problemlist li {
	border-top: 1px solid #133A87;
}


/* PAGING */
.pager ul, .pager li{ 
	display: inline;
	margin: 4px;
	padding: 0;
	color: #339;
	font-weight: bold;
}

.pager {
    list-style: none outside none;
}

ul {
    margin: 0px;
    padding: 0px;
}
